:root {
	--fondo: #f18b16cf;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 0px 0;
}

form {
    background-color: var(--formulario-fondo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--formulario-sombra);
    width: 400px;
    margin: 50px left; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--texto);
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-borde);
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,

select:focus {
    border-color: var(--input-focus);
    outline: none;
}

img.maps {
    width: 170%;
    max-width: 400px;
    height: auto;
    display: block; 
    margin: 0 auto; 
}
.btn-enviar {
    background-color: var(--boton-fondo);
    color: yellow;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .3s ;
}

.btn-enviar:hover {
    background-color: var(--boton-hover);
	cursor: pointer;
	border: tan;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logotipo1{
	max-width: 100px;
}
header .logotipo {
	font-size: 5px;
}

.galeria {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.series-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
}

.serie {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.serie img {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0; 
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: yellow;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.serie:hover img {
    transform: scale(1.2); /* Efecto de zoom en la imagen */
}

.serie:hover .overlay {
    opacity: 1; /* Muestra la superposición */
}

.serie:hover .text {
    opacity: 1;
    transform: translateY(0); /* El texto sube y aparece */
}

.serie p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

header nav a {
	color: #000000;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Cartoon Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 12px;
	min-height: 30.20em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(/img/productos\ fondo.jpeg);
	background-position: center center;
	background-size: 80%;
	margin-bottom: 1.12em;	
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: Arial;
	font-size: 2em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}